configure
*.in
original/
*~
src/include/*~
*.log
config.status
autom4te.cache/
*.swp
script.exp
*.o
src/ELFIL*
src/apt4ssv3
*.apt
*/.deps
*/*/.dirstamp
src/tests/AXFILE
src/tests/CPFILE
src/tests/ELFIL*
src/tests/XNUM
src/rmFil
src/*/.deps
Makefile
.project
compile
depcomp
src/test.results
src/tests/testScrp.sh
src/tests/fort.3
configure.lineno
loadcomp
